<div class="table">
    <button class="btn-add" routerLink="/add-uni"> Add University</button>
    <h1>List University</h1>
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>UserName</th>
        <th>Age</th>
        <th>Salary</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td >11111</td>
        <td>2222222</td>
        <td>33333333</td>
        <td>4444444444</td>
        <td>555555555</td>
        <td>6666666666</td>
        <td><button class="btn" > Delete</button></td>
        <td><button class="btn" routerLink="/edit-uni"> Edit</button></td>
      </tr>

      <tr>
        <td >11111</td>
        <td>2222222</td>
        <td>33333333</td>
        <td>4444444444</td>
        <td>555555555</td>
        <td>6666666666</td>
        <td><button class="btn" > Delete</button></td>
        <td><button class="btn" routerLink="/edit-uni"> Edit</button></td>
      </tr>

      <tr>
        <td >11111</td>
        <td>2222222</td>
        <td>33333333</td>
        <td>4444444444</td>
        <td>555555555</td>
        <td>6666666666</td>
        <td><button class="btn" > Delete</button></td>
        <td><button class="btn" routerLink="/edit-uni"> Edit</button></td>
      </tr>

      </tbody>
    </table>
  </div>