<div class="table">
    <button class="btn-add" routerLink="/add-rate"> Add Rate</button>
    <h1>List Rate</h1>
    <table class="table">
      <thead>
      <tr>
        <th>Rate ID</th>
        <th>Name University</th>
        <th>Author</th>
        <th>Quakity Score</th>
        <th>Material Score</th>
        <th>Work Score</th>
        <th>Teach Score</th>
        <th>Average</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>1111</th>
        <th>222222</th>
        <th>333333</th>
        <th>4444444</th>
        <th>5555555</th>
        <th>6666666</th>
        <th>7777777</th>
        <th>8888888</th>
        <td><button class="btn-delete" style="width: 100%;" > Delete</button></td>
        <td><button class="btn-edit" routerLink="/edit-rate" style="width: 100%;" > Edit</button></td>
      </tr>

      <tr>
        <th>1111</th>
        <th>222222</th>
        <th>333333</th>
        <th>4444444</th>
        <th>5555555</th>
        <th>6666666</th>
        <th>7777777</th>
        <th>8888888</th>
        <td><button class="btn-delete" style="width: 100%;" > Delete</button></td>
        <td><button class="btn-edit" routerLink="/edit-rate" style="width: 100%;" > Edit</button></td>
      </tr>

      <tr>
        <th>1111</th>
        <th>222222</th>
        <th>333333</th>
        <th>4444444</th>
        <th>5555555</th>
        <th>6666666</th>
        <th>7777777</th>
        <th>8888888</th>
        <td><button class="btn-delete" style="width: 100%;" > Delete</button></td>
        <td><button class="btn-edit" routerLink="/edit-rate" style="width: 100%;" > Edit</button></td>
      </tr>

      <tr>
        <th>1111</th>
        <th>222222</th>
        <th>333333</th>
        <th>4444444</th>
        <th>5555555</th>
        <th>6666666</th>
        <th>7777777</th>
        <th>8888888</th>
        <td><button class="btn-delete" style="width: 100%;" > Delete</button></td>
        <td><button class="btn-edit" routerLink="/edit-rate" style="width: 100%;" > Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>