<div style="margin: auto; width:50%; background-color: #eee; ">
    <h1 style="text-align: center;">Edit Rate</h1>
    
        <form action="">
          <label for="fname">University</label>
          <input type="text" id="uname" name="universityname" placeholder="University name ...">
      
          <label for="lname">Quality Score</label>
          <input type="text" id="qscore" name="qualityscore" placeholder="Your qualyti score..">
      
          <label for="country">Material Score</label>
          <input type="text" id="mscore" name="materialscore" placeholder="Your material score..">

          <input type="submit" value="Submit">
          
        </form>
      </div>