<div class="table">
    <button class="btn-add" routerLink="/add-user"> Add User</button>
    <h1>List User</h1>
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Delete</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td >11111</td>
        <td>2222222</td>
        <td>33333333</td>
        <td>4444444444</td>
        <td><button class="btn-delete" > Delete</button></td>
        <td><button class="btn-edit" > Edit</button></td>
      </tr>

      <tr>
        <td >11111</td>
        <td>2222222</td>
        <td>33333333</td>
        <td>4444444444</td>
        <td><button class="btn-delete" > Delete</button></td>
        <td><button class="btn-edit" > Edit</button></td>
      </tr>

      <tr>
        <td >11111</td>
        <td>2222222</td>
        <td>33333333</td>
        <td>4444444444</td>
        <td><button class="btn-delete" > Delete</button></td>
        <td><button class="btn-edit" > Edit</button></td>
      </tr>

      <tr>
        <td >11111</td>
        <td>2222222</td>
        <td>33333333</td>
        <td>4444444444</td>
        <td><button class="btn-delete" > Delete</button></td>
        <td><button class="btn-edit" > Edit</button></td>
      </tr>

      </tbody>
    </table>
  </div>